<ion-view  >
    
    
  <ion-content>
    <ion-slide-box>
   <ion-slide>
      <div class = "box box1">
          <img src="img/images-2.jpeg">
         
      </div>
   </ion-slide>

   <ion-slide>
      <div class = "box box2">
          <img src="img/images.jpeg">
        
      </div>
   </ion-slide>

   <ion-slide>
      <div class = "box box3">
           <img src="img/images-3.jpeg">
         
      </div>
   </ion-slide>

</ion-slide-box>
    <ion-list>
     <div class="list">
   <div class="item item-avatar">
      <img src="img/images.png">
      <h3>ncm,dasncvmnda,mc</h3>
        <p><i class = "icon icon ion-compass"></i>12-nov-2017</p>
   </div>
        </div>
         <div class="list">
   <div class="item item-avatar">
      <img src="img/images-4.jpeg">
      <h3>Avacmnds,abcmc,dncmdstar</h3>
       <p><i class = "icon icon ion-compass"></i>12-nov-2017</p>
   </div>
        </div>
         <div class="list">
   <div class="item item-avatar">
      <img src="img/images-5.jpeg">
      <h3>Avm,fc~fc,dmsnfcenafmcf,</h3>
       <p><i class = "icon icon ion-compass"></i>12-nov-2017</p>
   </div>
        </div>
         <div class="list">
   <div class="item item-avatar">
      <img src="img/images-3.jpeg">
      <h3>Avav,mdsa.ncf,adsnv tar</h3>
       <p><i class = "icon icon ion-compass"></i>  12-nov-2017</p>
    
   </div>
        </div>
    </ion-list>
<div class="bar bar-footer bar-calm">
   <h1 class="title">fghvhmvjjj</h1>
</div>
  </ion-content>
</ion-view>
